@import 'assets/template.scss';
@import 'assets/components.scss';

body {
    margin: 0;
    // background-color: $primary-color-dark;
    // background-image: url("./assets/images/textures/asfalt-dark.png");
    // background-size: auto;
    // overflow: hidden;
}

* {
    font-family: 'VT323', monospace;
}
a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5 {
    margin: 0.1em 1em;
    display: block;
}

::-webkit-scrollbar {
    width: 5px;
    background: $primary-color-dark;
}

::-webkit-scrollbar-thumb {
    background: $primary-color-light;
    width: 3px;
}