<app-oeuvre-groupe *ngFor="let group of imageGroupedList" [oeuvreGroupe]="group"></app-oeuvre-groupe>

<app-oeuvre-vignette 
    *ngIf="currentOeuvre" 
    [zoom-in]="true" 
    class="layer" 
    [oeuvre]="currentOeuvre"
    (dismiss)="currentOeuvre = null"
    ></app-oeuvre-vignette>
