@import '../../../assets/template.scss';

:host {
    width: 100vw;
    height: 86vh;
    display: flex;
    flex-wrap: wrap;
    padding-top: $header-size;
    padding-bottom: $footer-size;

    overflow: auto;
    scroll-behavior: smooth
}