@import './template.scss';
@import './glass-background.scss';

@mixin Layer {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    width: fit-content;
    height: fit-content;

    align-items: center;

    &[full-screen] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    &[background="glass"] {
        @include background-glass;
    }

    &[background="asfalt"] {
        background-color: $primary-color-dark;
        background-image: url("assets/images/textures/asfalt-dark.png");
        background-size: auto;
    }
}

app-layer-view,
.layer {
    @include Layer;
}

/** action bar */
.action-bar {
    max-width: 100%;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;

    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;

    .action {
        @include background-glass;

        display: inline-flex;
        height: $link-icon-size;
        width: $link-icon-size;
        cursor: pointer;
        margin: 0 calc(#{$link-icon-size}/2);
        border-radius: 15px;
        overflow: hidden;
        align-items: center;
        transition: height 0.10s ease-in,
            width 0.05s ease-in-out,
            margin-top 0.10s ease-in,
            box-shadow 0.10s ease-in;

        i {
            margin: 0 auto;
        }

        &:hover {
            height: calc(#{$link-icon-size} + 5px);
            width: calc(#{$link-icon-size} + 5px);
            margin-top: 0;
            transition: height 0.10s ease-in,
                width 0.05s ease-in-out,
                margin 0.10s ease-in,
                box-shadow 0.10s ease-in;
        }
    }
}