

@mixin glassBackground {
    background-color: light-secondary-color-with-opacity(0.4);
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
}

@mixin glassBackgroundHighlight {
    @include glassBackground;
    box-shadow: 0 0 5px 2px ternere-color-with-opacity(0.4);
}

@keyframes brokenLightBackgroundAnimation {
    2% {
        @include glassBackground;
    }

    3% {
        @include glassBackgroundHighlight;
    }

    6% {
        @include glassBackgroundHighlight;
    }

    7% {
        @include glassBackground;
    }

    8% {
        @include glassBackgroundHighlight;
    }

    9% {
        @include glassBackground;
    }

    14% {
        @include glassBackground;
    }

    15% {
        @include glassBackgroundHighlight;
    }

    100% {
        @include glassBackgroundHighlight;
    }
}

@mixin glassLayer {
    filter: brightness(0.5);
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

@mixin glassLayerHighlight {
    filter: brightness(1);
    color: ternere-color-with-opacity(0.6);
    text-shadow: -1px -1px 3px ternere-color-with-opacity(0.6);
}

@keyframes brokenLightLayerAnimation {
    2% {
        @include glassLayer;
    }

    3% {
        @include glassLayerHighlight;
    }

    6% {
        @include glassLayerHighlight;
    }

    7% {
        @include glassLayer;
    }

    8% {
        @include glassLayerHighlight;
    }

    9% {
        @include glassLayer;
    }

    14% {
        @include glassLayer;
    }

    15% {
        @include glassLayerHighlight;
    }

    100% {
        @include glassLayerHighlight;
    }
}

@mixin background-glass {
    @include glassLayer;
    @include glassBackground;
    background-color: light-secondary-color-with-opacity(0.4);

    &[highlight]:not([highlight="false"]) {
        @include glassLayerHighlight;
        @include glassBackgroundHighlight;
        box-shadow: 0 0 5px 2px ternere-color-with-opacity(0.4);

        &[broken]:not([broken="false"]) {
            animation-name: brokenLightLayerAnimation, brokenLightBackgroundAnimation;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
        }
    }
}