
$primary-color-dark: #303030;
$primary-color: #5c5c5c;
$primary-color-light: #979797;

$secondary-color-dark: #634e5d;
$secondary-color-light: #927489;

$link-icon-size: 30px;

@function ternere-color-with-opacity ($opacity) {
    @return rgba(255, 251, 227, $opacity);
}
@function darker-ternere-color-with-opacity ($opacity) {
    @return rgba(48, 48, 43, $opacity);
}

@function lighter-primary-color-with-opacity ($opacity) {
    @return rgba(250, 250, 250, $opacity);
}


@function dark-secondary-color-with-opacity ($opacity) {
    @return rgba(99, 78, 93, $opacity);
}
@function light-secondary-color-with-opacity ($opacity) {
    @return rgba(146, 116, 137, $opacity);
}
@function lighter-secondary-color-with-opacity ($opacity) {
    @return rgba(255, 222, 245, $opacity);
}

$header-height: 7vh;

$footer-size: 7.5vh;

/** @deprecated */
$header-size: 7.5vh;