@import "../../../assets/template.scss";

@mixin titleEteind {
    color: ternere-color-with-opacity(0.1);
    text-shadow:-1px -1px 3px ternere-color-with-opacity(0.1);
    // box-shadow: 0 0 1px secondary-color-light;
}
@mixin titleAllume {
    color: ternere-color-with-opacity(0.6);
    text-shadow:-1px -1px 3px ternere-color-with-opacity(0.6);
    // box-shadow: 0 0 5px ternere-color-with-opacity(0.6);
}

@keyframes titleLight {
    0%   {
        @include titleAllume;
    }
    1%  {
        @include titleEteind;
    }

    2%  {
        @include titleAllume;
    }
    3%  {
        @include titleEteind;
    }

    4% {
        @include titleAllume;
    }
    100% {
        @include titleAllume;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    min-height: $header-size;
    max-height: $header-size;
    overflow: hidden;
    width: 100%;
    z-index: 2;

    h1 {
        // @include titleAllume;
        // font-family: "Arial Black", Gadget, sans-serif;
        font-family: 'Source Code Pro', monospace !important;
        letter-spacing: 0.8rem;
        margin: 0;
        font-variant: small-caps;
        padding: 0 1rem;
        // background-color: dark-secondary-color-with-opacity(0.4);
    }
    
    .action {
        &.fb-like {
            width: fit-content;
            height: fit-content;
            margin-left: 1rem;
            filter: brightness(100%);
            div {
                box-shadow: 0 0 2px rgba(255,255,255,0.2);
            }
        }
    }
}