<header class="layer header">
    <div class="layer" background="glass" highlight broken><h1>LEGOYA</h1></div>
    <div class="action-bar">
            <a href="https://fr-fr.facebook.com/Legoyaandco/" target="blank" class="action" highlight><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/legoya.sketches/" target="blank" class="action" highlight><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/legoya1" target="blank" class="action" highlight><i class="fa fa-twitter"></i></a>
            <!-- <a href="mailto://legoya@live.fr" class="action" highlight><i class="fa fa-envelope"></i></a> -->
            <a href="https://gitlab.com/Mistifiou/legoya-website" target="blank" class="action" highlight><i class="fa fa-gitlab"></i></a>
        </div>
</header>