@import '../../../assets/template.scss';

:host {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    // justify-content: center;

    h3 {
        color: ternere-color-with-opacity(0.2);
        border-bottom: 1px solid $primary-color;
        margin: 10px;
        width: 100%;
        font-variant: small-caps;
        height: 4vh;
        font-size: 3vh;
    }
}