<div class="layer" background="asfalt" full-screen *ngIf="loaded">
        <app-header></app-header>
        <router-outlet></router-outlet>
</div>
<div class="layer" background="asfalt" full-screen *ngIf="!loaded">
        <div class="layer loading" background="glass" highlight>
                <h2>Loading ...</h2>
        </div>
</div>

<div class="footer layer" background="glass" highlight>
        <h4>
                Copyright © 2019 | <a href="mailto:legoya@live.fr">Legoya</a> 
                <!-- |

                <div class="action fb-like" data-href="https://legoya.fr" data-layout="button_count" data-action="like"
                        data-share="true"
                        data-size="small" data-colorscheme="dark" data-show-faces="true">
                </div> -->
        </h4>
</div>