.layer {
    overflow: hidden;
}
.loading.layer {
    margin: 0 auto;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 20;
}
.action {
    &.fb-like {
        width: fit-content;
        height: fit-content;
        margin-left: 1rem;
        filter: brightness(80%);
        div {
            box-shadow: 0 0 2px rgba(255,255,255,0.2);
        }
    }
}