<div #vignette class="layer vignette-container" background="glass" [attr.highlight]="active">
    <div class="image layer" (click)="onclick()">
        <img 
            src="data:{{oeuvre?.metadatas.format}};base64,{{oeuvre?.src}}"
            alt="{{oeuvre?.title}}"
         />
    </div>
    <span class="action-bar">
        <!-- <a href="https://facebook.fr" target="blank" class="action" highlight><i class="fa fa-facebook"></i></a>
        <a href="https://instagram.fr" target="blank" class="action" highlight><i class="fa fa-instagram"></i></a>
        <a href="https://twitter.fr" target="blank" class="action" highlight><i class="fa fa-twitter"></i></a> -->
        <!-- <span class="action zoom-in-action" (click)='onZoomIn()' highlight><i class="fa fa-search"></i></span>
        <span class="action zoom-out-action" (click)='onZoomOut()' highlight><i class="fa fa-times"></i></span> -->
        <span class="action fb-action">
                <div class="fb-like" 
                  [attr.data-href]="'https://legoya.fr#' + title" 
                  data-layout="button_count" 
                  data-action="like" 
                  data-size="small"
                  data-colorscheme="dark"
                  data-show-faces="true">
                </div>
        </span>
    </span> 
    <div class="contextual-datas layer" (click)="onclick()" background="asfalt" [attr.highlight]="active">
        <div class="image-datas">
            <h4 class="layer" background="glass" highlight>{{ oeuvre?.title }}</h4>
            <p class="description" markdown ngPreserveWhitespaces>{{ oeuvre?.description }}<div class="footer">
                    <span class="tags">
                        <span class="tag layer" background="glass" highlight *ngFor="let tag of oeuvre?.tags">{{ tag }}</span>
                    </span>
                    <span class="date layer" background="glass" highlight>le {{ oeuvre?.created_at }}</span>
                </div>
        </div>
    </div>
</div>