@import '../../../assets/template.scss';
@import '../../../assets/glass-background.scss';

:host {
    margin: 20px;

    width: 250px;
    height: 300px;

    .vignette-container {
        width: 250px;
        height: 100%;
        filter: brightness(0.7);
        transition: width 1s ease-in-out;
        .action-bar {
            display: none;
        }

        .image {
            cursor: pointer;
            overflow: hidden;
            transition: width 1s ease-in-out;
            width: 100%;

            img {
                object-fit: contain;
                max-height: 100%;
                max-width: 100%;
            }
        }

        .action-bar {
            height: 50px;
            z-index: 3;
            .action {
                &.fb-action {
                    width: fit-content;
                    height: fit-content;
                    filter: brightness(150%);
                    div {
                        box-shadow: 0 0 2px rgba(255,255,255,0.2);
                    }
                }
            }
        }
        .contextual-datas {
            width: 0;
            background-color: rgba(255, 255, 255, 0.4);
            height: 100%;
            overflow: hidden;
            align-self: flex-end;
            position: absolute;
            top:0;
            right:0;

            p {
                max-height: 9em;
                overflow: auto;
                color: $primary-color-dark;
                padding: 0 1em;
                margin: 0;
                font-size: 1.2em;
                text-align: justify;
                text-shadow: 0 0 0 rgba(255, 255, 255, 0);
                font-family: 'VT323', monospace;

                &::-webkit-scrollbar {
                    width: 5px;
                    background: $primary-color-light;
                }

                &::-webkit-scrollbar-thumb {
                    background: $primary-color-dark;
                    width: 3px;
                }
            }

            .image-datas {
                height: 100%;

                h4 {
                    font-family: 'Source Code Pro', monospace !important;
                    font-variant: small-caps;
                    letter-spacing: 0.2rem;
                    font-size: 1.5rem;
                    margin: 1rem 0;
                    padding: 0 1rem;
                    max-width: 100%;
                }


                .footer {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 4rem;
                    font-size: 1.1em;
                    font-family: 'Source Code Pro', monospace !important;
                    letter-spacing: 0.1rem;

                    .tags {
                        position: absolute;
                        left: 1rem;
                        top: 0;
                        display: flex;
                        overflow: hidden;
                        width: 70%;
                        flex-wrap: wrap;
                        height: 100%;
                        align-items: center;

                        .tag {
                            &:before {
                                content: '#';
                                font-weight: bold;
                            }

                            height: fit-content;
                            font-size: 14px;
                            font-weight: bolder;
                            text-align: center;
                            padding: 2px 11px;
                            margin: 0 0.2rem;
                            border-radius: 5px;
                        }
                    }

                    .date {
                        float: right;
                        font-weight: bold;
                        padding: 0 1rem;
                        margin-top: 1rem;
                    }
                }
            }
        }
    }

    &:hover:not(.active):not(.zoom-in) {
        .vignette-container {
            cursor: pointer;
            filter: brightness(0.8);
            @include glassLayerHighlight;
            @include glassBackgroundHighlight;

            .contextual-datas {
                width: 100%;
                position: absolute;
                transition: width 0.2s ease-in-out;

                p {
                    display: none;
                }

                .image-datas {
                    height: 100%;

                    .footer {
                        display: none;
                    }
                }
            }
        }
    }

    &.active {
        width: 100%;

        .vignette-container {
            width: 100%;
            transition: width 1s;
            .action-bar {
                display: flex;
                .zoom-out-action {
                    display:none;
                } 
            }
            .image {
                width: 375px;
                max-width: 20%;
                transition: width 1s;
            }

            .contextual-datas {
                width: 80%;
            }
        }
    }
    
    &.zoom-in {
        position: fixed;
        height: 100vh;
        width: 100vw;
        transition: none;
        top: 0;
        margin: 0;
        z-index: 10;
        background-color: ternere-color-with-opacity(0.8);

        .vignette-container {
            height: 100vh;
            width: 100vw;
            transition: none;
            .action-bar {
                display: flex;
                .zoom-in-action {
                    display:none;
                }
                .zoom-out-action {
                    position: relative;
                    right: 0
                } 
                // .action {
                //     background-color: light-secondary-color-with-opacity(1);
                //     color: ternere-color-with-opacity(1);
                // }
            }
            .image {
                z-index: 1;
                transition: none;
                height: 100vh;
                top: 0;
                left: 0;
                position: absolute;
                justify-content: center;
                // background-color: dark-secondary-color-with-opacity(0.8);
            }
    
            .contextual-datas {
                z-index: -1;
                position: fixed;
                height: 100vh;
                width: 100vw;  
                background-color: rgba(0,0,0,0.7);

                .image-datas {
                    display: none;
                }
            }
        }
    }

}